<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340789976433-q9k9jk8adgniglh0au8fe9gdkn5hum97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340789976433-q9k9jk8adgniglh0au8fe9gdkn5hum97</string>
	<key>API_KEY</key>
	<string>AIzaSyBUpWHlotB8MOv1tprky36V5GvHccit7LA</string>
	<key>GCM_SENDER_ID</key>
	<string>340789976433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.EmirKeles.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-6d34d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-6d34d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340789976433:ios:3cd07ee2c7a91f2dabead0</string>
</dict>
</plist>